.Body{
    color: white;
    font-style: italic;
    font-size: xx-large;
    -moz-text-align-last: left; /* For Firefox prior 58.0 */
  text-align-last: left;
    
}
.BodyStart{
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
}
.btn {
    /* border: 2px solid pink; */
    background-color: white;
    color: rgb(233, 113, 133);
    border-color: white;
   font-style: italic;
   width: 100px;
   margin: auto;
   margin-bottom: 10px;
    
  }
  /* .default {
    border-color: white;
    color: rgb(220, 106, 125);
  } */